workspace {
    background-color: #00b0e8;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    .lm_item_container,
    .lm_content {
        height: 100% !important;
    }

    .lm_content {
        overflow-y: scroll;
    }
}
